<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ArticleMapper">

	<insert id="addArticle" parameterType="java.util.HashMap">
		insert into article
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="openId != null">
				openid,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="creatTime != null">
				creat_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="openId != null">
				#{openId},
			</if>
			<if test="title != null">
				#{title},
			</if>
			<if test="content != null">
				#{content},
			</if>
			<if test="creatTime != null">
				#{creatTime},
			</if>
		</trim>
	</insert>

</mapper>