<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BuyRecordMapper">

	<select id="isBought" parameterType="java.util.HashMap" resultType="java.lang.Integer">
		select id from buy_record 
		where openid = #{openId} and audio_id = #{audioId}
	</select>

	<insert id="addBuyRecord" parameterType="java.util.HashMap">
		insert into buy_record(openid,audio_id,creat_time) values(#{openId},#{audioId},#{creatTime})
	</insert>

</mapper>