<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ShareInfoMapper">

	<insert id="addShareInfo" parameterType="java.util.HashMap">
		insert into share_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				user_id,
			</if>
			<if test="audioId != null">
				audio_id,
			</if>
			<if test="creatTime != null">
				creat_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				#{userId},
			</if>
			<if test="audioId != null">
				#{audioId},
			</if>
			<if test="creatTime != null">
				#{creatTime}
			</if>
		</trim>
	</insert>

</mapper>